@import "tailwindcss";

@theme {
  --font-roboto: Roboto, san-serif;
  --font-poppins: Poppins, sans-serif;
  --font-script: Great Vibes, cursive;

  --color-main: #27AE60;
  --color-complementary: #219653;
  --color-accent: #F4F7FA;
}