@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

@import "tailwindcss";

@theme {
  --font-roboto: Roboto, san-serif;
  --font-poppins: Poppins, sans-serif;
  --font-script: 'Great Vibes', cursive;
  --font-kelly: 'Kelly Slab', cursive;

  --color-main: #055B5D;
  --color-complementary: #077A7D;
  --color-accent: #F5EEDD;
}

body {
background-color: #F5EEDD;
font-style: poppins;
}